
.bsearch-demo {
  height: 45%;
  align-items: center;
  margin: auto;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.bsearch-static-array,
.bsearch-active-array {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.bsearch-active-array {
  margin-top: 10px;
}

.bsearch-circle {
}

.bsearch-circle-span {
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  margin-right: 10px;
  text-align: center;
  width: 1.5em;
  border: 1px solid #93D1FF;
  background-color: #93D1FF;
}

.bsearch-demo form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.bsearch-demo form label {
  font-size: 20px;
}

.bsearch-demo form label input {
  border: 1px solid #403F3E;
  margin: auto;
  padding: 5px;
  width: 20px;
  margin-left: 10px;
  border-radius: 2px;
  margin-right: 20px;
}

.bsearch-demo form button {
  // background-color: #93D1FF;
  padding: 5px;
  font-size: 20px;
}

.bsearch-demo form button:hover {
  background-color: #91C9FF;
  padding: 5px;
  border-radius: 5px;
}

.midpoint {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #417BB2;
 background-color: #417BB2;
}

.bsearch-target-index {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}
