.mergesort-demo {
  border-bottom: 2px solid black;
}

.mergesort-demo-instructions {
  margin-bottom: 20px;
}

.mergesort-demo-start {
  margin: 0px 10px;
  padding: 10px;
  background-color: #417BB2;
  color: white;
  border-radius: 5px;
}

.mergesort-demo-array {
  display: flex;
  align-items: center;
}

.mergesort-demo-brackets {
  
}

.mergesort-demo-number {
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0px 5px;
  text-align: center;
  width: 1.5em;
  border: 1px solid #93D1FF;
  background-color: #93D1FF;
}

.mergesort-exercise {

}
