.quicksort-demo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subarray-container {
  display: flex;
  flex-direction: row;
}

.subarray {
  display:flex;
}

.subarray-output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subarray {
  display: flex;
  flex-direction: row
}

.active {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: #93D1FF;
}

.activeExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: #93D1FF;
}

.hidden {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
  color:transparent;
  background-color: transparent;
}


.hiddenExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
  color:transparent;
  background-color: transparent;
}

.unfocused {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: gray;
}

.unfocusedExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: gray;
}

.smaller {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: purple;
  color: white;
}

.smallerExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: purple;
  color: white;
}


.larger {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: red;
  color: white;
}

.sorted {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: green;
  color: white;
}

.correct {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: green;
  color: white;
}

.hiddenExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}

.incorrect {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: red;
  color: white;
}

.sortedExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: green;
  color: white;
}

.pivot {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: blue;
  color: white;
}

.pivotShow {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: blue;
  color: white;
}
.pivotShowExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: blue;
  color: white;
}

.smallerShow {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: purple;
  color: white;
}
.smallerShowExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: purple;
  color: white;
}

.largerShow {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: red;
  color: white;
}
.largerShowExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: red;
  color: white;
}

.pivotHidden {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.pivotHiddenExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.smallerHidden {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.smallerHiddenExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.smallerExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid #93D1FF;
 background-color: purple;
  color: white;
}
.largerHidden {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.largerHiddenExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: transparent;
  color: transparent;
}
.pivotExercise {
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 display: inline-block;
 font-weight: bold;
 line-height: 1.5em;
 margin-right: 10px;
 text-align: center;
 width: 1.5em;
 border: 1px solid transparent;
 background-color: blue;
  color: white;
}
